---
interface Props {
    mono?: boolean;
    icon?: string;
    text?: string;
    url?: string;
}

const { mono = false, icon, text, url } = Astro.props;
const divClasses = url != null
    ? "outline-2 rounded-full outline-pink shadow-md hover:bg-pink"
    : "outline-1 rounded-lg outline-light-gray";

---
<div class="inline-block">
    <a href={url} target="_blank">
        <div class={`flex flex-row py-2 px-4 items-center transition space-x-2 ` + divClasses}>
            { (icon != null)
                ? <img class={"size-6" + (mono ? " brightness-0 saturate-100" : "")} src={icon} />
                : <div class="size-6"><slot name="icon" /></div>
            }
            { (text != null)
                ? <p class="font-semibold">{text}</p>
                : <slot name="text" />
            }
        </div>
    </a>
</div>
